header {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0.02%;
    bottom: 98.31%;

    background: #FFFFFF;
}



#logo {
    position: absolute;
    left: 14.32%;
    right: 81.53%;
    top: 0.61%;
    bottom: 98.93%;

background: #01996D;
}
